---
import Root from "../layouts/Root.astro";
import HeroBox from "../components/HeroBox.astro";
import Column from "../components/Column.astro";
import Row from "../components/Row.astro";
import BgParticles from "../components/BgParticles.svelte";
import { title, description, body, footer } from "../components/Data";
---

<Root title="frlt.one">
  <HeroBox>
    <h1 class="text-3xl font-bold">{title}</h1>
    <h2 class="text-xl text-neutral-700">{description}</h2>
    <hr class="my-2 border-black" />
    <div class="flex min-w-max flex-col text-center md:my-4 md:flex-row">
      {body.map((column) => <Column column={column} />)}
    </div>
    <div class="flex min-w-max">
      <Row column={footer} />
    </div>
  </HeroBox>
  <BgParticles client:only="svelte" />
</Root>
