---
import { Icon } from "astro-icon/components";
---

<div class="my-10 flex justify-center">
  <div class="relative max-w-xl rounded border bg-white bg-opacity-10 p-5">
    <a href="/" class="absolute right-0 top-0 m-2 text-lg font-bold">
      <Icon name="mdi:home" class="h-8 w-8" /></a
    >
    <slot />
  </div>
</div>
