---
export interface Column {
  title: string;
  links: Link[];
}

export interface Link {
  name: string;
  url: string;
}

const column: Column = Astro.props.column;
---

<div class="flex-1 mt-4 lg:mt-0">
  <h3 class="text-2xl">{column.title}</h3>
  <ul>
    {
      column.links.map((link: Link) => (
        <li class="mt-2 list-none text-lg">
          <a
            href={link.url}
            class="no-underline transition hover:text-blue-500 "
          >
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>
