<div class="flex h-screen items-center justify-center">
  <div
    class="w-2/3 animate-pop-in rounded bg-gradient-to-tr from-yellow-200 to-indigo-400 p-4 text-black lg:w-1/2"
  >
    <slot />
  </div>
</div>
