<div class="flex items-center justify-center h-screen">
  <div
    class="p-4 rounded bg-gradient-to-tr from-yellow-200 to-indigo-400 text-black w-2/3 lg:w-1/2 animate-pop-in"
  >
    <slot />
  </div>
</div>
