---
import type { Column, Link } from "./types";
import { Icon } from "astro-icon/components";
const column: Column = Astro.props.column;
---

<ul class="flex gap-4">
  {
    column.links.map((link: Link) => (
      <li>
        <a
          href={link.url}
          class="text-indigo-400 transition hover:text-blue-500"
          title={link.name}
        >
          {link.icon && <Icon name={link.icon} class="inline-block h-6 w-6" />}
        </a>
      </li>
    ))
  }
</ul>
